  
  /*Typography*/
  html {font: 16px 'Indie Flower';}
  h1 {font-size: 2.5em;}
  h2 {font-size: 2.25em;}
  h3 {font-size: 2em;}
  h4 {font-size: 1.75em;}
  p {font-size: 1.5em;}
  h1,
  h2,
  h3,
  h4,
  p {line-height: 1.375em;}
  /*Base*/
  * {box-sizing: border-box;}
  html,
  body {
    width: 100%;
    height: 100%;
  }
  /*Layout*/
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .content {width: 60%;}
/*Navigation*/
nav {
  float: right;
  width: 5%;/*9.375em;/*150px*/
  min-height: 100%;
  background: pink;
  color: rgb(255, 255, 255);
  overflow: hidden;  
}
nav label {
  display: block;
  position: relative;
  width: 100%;
  padding: .25em 0;
  height: 2.5em;
  cursor: pointer;
}

:target {
   z-index: 2;
  opacity: 1;
}
/*Hidding mechanism*/
input {display: none;}
input:checked ~ section {width: 85%;}
input:checked ~ nav {width: 15%;}
input:checked ~ nav > label:before {content: "\f00d";}
input:checked ~ nav > label + .navigation {display: flex;}
/*close - "\f00d"*/
.navigation {
  display: none;
  flex-direction: column;
  width: 100%;
}
.navigation a {
  display: block;
  align-self: center;
  padding: .5em 0;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 #666;
}
nav label,
.navigation a {
  border-bottom: 1px dashed #eda790;
}
/*Sections*/
section {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  min-height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: width .5s, opacity .5s;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/*Home*/
.sec-home {
  float: left;
  position: relative;
  background: seaShell;
  color: rgb(4, 247, 255);
  opacity: 1;
  text-shadow:3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}
.sec-home a {
  color: #eda790;
  text-decoration-style: dashed;
}
.sec-home .content {
  height: 50%;
  text-align: center;
}
/*About*/
.sec-about {
  background: indianRed;
  color: #fff;
  text-shadow:3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.sec-about .content {
  height: 55%;
  text-align: center;
}
/*Portfolio*/

.sec-portfolio {
    background: rgb(238, 238, 160);
    color: #fff;
    max-height: fit-content;
}

.sec-portfolio1 {
  border: black 10px;

}
    
    

.sec-contact {
    background: indianRed;
    color: #fff;
    text-shadow:3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  .soc-media {
    margin-top: 5%;
    height: 55%;
    text-align: center;
    font-family: Alconica;
    font-size: 100px;
    color: beige;
  }

 
  
  

